<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="bftm.My.MySettings.qbConnectionString" connectionString="Data Source=(local)\VSDOTNET;Initial Catalog=qb;Persist Security Info=True;User ID=sa;Password=noName#2"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="ToolBarButton1.ImageIndex" value="-1" />
		<add key="lblMessage.AutoSize" value="False" />
	</appSettings>
</configuration>