<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="bftm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <connectionStrings>
   <add name="bftm.My.MySettings.qbConnectionString1" connectionString="Server=tcp:u24zvapkr9.database.windows.net,1433;Database=qb;User ID=qbuser@u24zvapkr9;Password=Ya*5E-83H{;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
<!--    <add name="bftm.My.MySettings.qbConnectionString1" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=qb;userid=qbuser;password=Ya*5E-83H{;" providerName="System.Data.SqlClient"/>-->
 </connectionStrings>
 <appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="ToolBarButton1.ImageIndex" value="-1"/>
		<add key="lblMessage.AutoSize" value="False"/>
   <add key="reportpath" value="C:\mcdavidsource\Utils\Backflow\BackflowTestingManager_VB\BackflowTestingManager_VB\reports\"/>
	</appSettings>
 <userSettings>
  <bftm.My.MySettings>
   <setting name="quickbooks_file_location" serializeAs="String">
    <value/>
   </setting>
  </bftm.My.MySettings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
