<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="bftm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>    
  </sectionGroup>
 </configSections>
 <connectionStrings>
<!--   <add name="bftm.My.MySettings.qbConnectionString1" connectionString="Server=tcp:u24zvapkr9.database.windows.net,1433;Database=qb;User ID=qbuser@u24zvapkr9;Password=Ya*5E-83H{;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/> -->
    <add name="bftm.My.MySettings.qbConnectionString1" connectionString="Data Source=bbannerdw7\SQLEXPRESS;Initial Catalog=qb;user id=qbuser;password=qb" providerName="System.Data.SqlClient"/>
 </connectionStrings>
 <appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="ToolBarButton1.ImageIndex" value="-1"/>
		<add key="lblMessage.AutoSize" value="False"/>
   <add key="reportpath" value="C:\mcdavidsource\Utils\Backflow\BackflowTestingManager_VB\BackflowTestingManager_VB\reports\"/>
   <add key="QBFile" value="C:\mcdavidsource\Utils\Backflow\BackflowTestingManager_VB\Quality Backflow Testing Inc.QBW"/>
   <!-- 
   <add key ="username" value="qbuser@u24zvapkr9"/>
   <add key="password" value="Ya*5E-83H{"/>
   <add key="server" value="u24zvapkr9.database.windows.net"/>
   -->
   <add key="username" value="qbuser"/>
   <add key="password" value="qb"/>
   <add key="server" value="bbannerdw7\SQLEXPRESS"/>
	</appSettings>  
 <userSettings>
  <bftm.My.MySettings>
   <setting name="quickbooks_file_location" serializeAs="String">
    <value/>
   </setting>
  </bftm.My.MySettings>
 </userSettings>

  <log4net>

    <appender name="GeneralAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\ADSILogs\BF.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100K" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - [%logger] %message%newline" />
      </layout>
    </appender>

    <logger name="GeneralLogger">
      <level value="All" />
      <appender-ref ref="GeneralAppender" />
    </logger>
  </log4net>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
